.text-center {
  text-align: center;
}

.bg-blue {
  background-color: lightsteelblue;
}

.mx-auto {
  margin: auto;
}
.m-w{
  max-width: 18vw;
}

.flex{
  display: flex;
}
.flex-col{
  flex-direction: column;
}
.items-center{
  align-items: center;
}